// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin notes_links_container
  padding: 4px
  min-width: 400px
  max-width: 400px
  margin-right: 10px
  float: left
  ul
    margin-left: 0
  a
    color: blue
    &.del_link
      color: back
      font-size: 10px
      font-weight: bold


li
  list-style: none
table.fin_stmt
  th, td
    text-align: left
    width: 110px
  .val
    width: 80px
    text-align: right

.fails_criteria
  color: red
  font-weight: bold

.cur_item_lbl
  //font-size: 16px
  font-weight: bold

.scraping
  margin: 4px
  padding: 10px
  border: solid 4px red
  font-size: 24px
  font-weight: bold
  color: red
  .symbol
    color: blue
.stock_main
  float: left
  border-top: 1px solid #333
  padding: 4px 0
  min-width: 1500px
.stock_headline
  float: left
  a:visited
    color: purple
.stock_head
  a:visited
    color: purple
.stock_panel
  float: left
  min-width: 1250px
  background: #add8e6
//.opinion_panel  #see opinions.css.sass
.data_panel
  float: left
  //background:  #7fffd4
  min-width: 800px
  .company_desc
    max-width: 750px
  //margin-right: 30px
.stock_stats
  border-top: solid 1px #538312
.stock_section
  border-top: solid 1px #538312
  max-width: 900px
.stock_head
  border: none
  font-size: 14px
  padding: 4px 0
  margin-bottom: 0px
  .symbol
    font-size: 22px
    font-weight: bold
  .co_info, .update
    font-size: 14px
    font-weight: normal
  .price
    font-size: 20px
    font-weight: bold
    color: red

.company_desc
  .sector
    font-weight: bold
    color: blue


.noteslinks
  background: white
  max-width: 810px
  max-width: 840px
  float: left
  border-radius: 6px
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  h3
    font-size: 12px
    font-weight: bold
    line-height: 20px
.notes
  @include notes_links_container
.links
  @include notes_links_container




table.fin_stmt
  th.type
    font-size: 12px
    .units
      font-size: 10px
      font-weight: normal
  th
    font-size: 10px
  td,th
    //color: white
    background: #f08080
    font-size: 12px
    //min-width: 100px
    &.lbl
      min-width: 110px
      background: #778899
    &.val
      min-width: 78px
      background: #add8e6
      text-align: right
    &.pct
      min-width: 35px
      max-width: 35px
      background: #e6e6fa
.new_low_price
  color: black

.show_opinion
  width: 260px

.collapse_stock_desc
  display: none

.low_dates
  max-width: 800px
  font-size: 11px
  font-weight: bold
  color: purple
  span.title
    color: black

.neg_val
  color: red
  font-weight: bold
.pos_val
  color: #006400
  font-weight: bold